*{
  border: 1px solid red;
  margin: 0;
  padding: 0;
}
body{
  background-color: #131313;
  padding: 0;
}
#title{
  color: white;
  opacity: 1 !important;
  padding: 20px;

}
#navbar-fixed{
  width: 100%;
  color: white;
  position: fixed;
  display: block;
  padding-top: 10px;
  background-color: rgba(11, 11, 11, .8);
  z-index: 1000;

}

#navbar{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#navtitle{
  font-size: 30px;
  font-family: 'Bungee', cursive;
  margin-left: 50px;
}

#navTabs{
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
  font-size: 20px;
  font-family: 'Roboto';
}

#navTabs > div{
  margin: 0 50px 0 50px;
  padding: 10px;
  opacity: .7;
  transition: .7s;
}

#navTabs > div:hover{
  opacity: 1;
  cursor: pointer;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerimg{
  opacity: 1;
  margin-top: 86px;
  position:relative;
}

#headerimg:before{
    display:flex;
    content:'';
    height: 100%;
    width: 100%;
    position: absolute;
    -moz-box-shadow:inset -30px 10px 60px 60px #131313);
    -webkit-box-shadow:inset -30px 10px 60px 60px #131313;
    box-shadow:inset -30px 15px 60px 50px rgb(11, 11, 11);
}
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-cont{
  margin: 20px 40px 0 40px;
  color: white;
}

.main-cont > h2{
  font-family: 'Bungee';
}

.sub-cont{
  height: 55%;
}

#tagsAndSearch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taglist{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 465px;
  flex-wrap: wrap;
  /*border: 1px solid red;*/
}

.taglist > div{
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid white;
  width: 200px;
  font-family: 'Roboto';
  transition: .7s;
}

#searchTags{
  background-color: white;
  color: black;
  opacity: .7;
  transition: .7s;
  width: 200px;
  align-self: center;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  font-family: 'Roboto';
  transition: .7s;
  text-align: center;
}

#searchTags:hover{
  opacity: 1;
  cursor: pointer;
}

.tagList > div:hover, .tagList > div.select{
  background-color: white;
  color: #131313;
}

#tag-cont{
  display: flex;

}

#series{
  height: 60%;


}
#seriesList{
  display: flex;
  width: 1850px;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
}

#seriesList > div{
  margin: 10px;
}

#seriesList > div > h3{
  margin-bottom: 10px;
}
